/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$body-color:            #05210a !default;
$sidebar-hl:            #bf1206 !default;
$sidebar-fg:            #17730f !default;



