/*-- scss:defaults --*/
$h2-font-size:          3.1rem !default;
$headings-font-weight:  500 !default;
$sidebar-hl:            #bf1206 !default;
$sidebar-fg:            #3c77d6 !default;
$sidebar-bg:            #b57741 !default;


