/* css styles */

.nav-link {
  font-weight: 300;
  font-size: 21px;
}

.blog-title {
  font-size: 45px;
  font-weight: 600;
}

.blog-box {
  background-color: #dde6d8;
  text-align: center;
  height: 100px;
  width: 95%;
  line-height: 100px;
  margin-bottom: 100px;
  border-radius: 40px;
}



.about-image {
  width: 215px;
  border-radius: 40px;
}


